@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
    background-color: #1890ff !important;
    border-color: #1890ff !important;
    color: white !important;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045) !important;
  }
  